.speech{
    font-family:Arial;
    font-size:20px;
    color: black;
}
.stage-direction{
    font-family: Arial;
    font-size:20px;
    color:black;
    background-color:cyan;
}
.name{
    font-family: Arial;
    font-size:20px;
    color:black;
}
.stage-direction:hover{
    background-color:blue;
    color:red;
}
.Parker{
    color:darkorchid;
}
.LADY-WINDERMERE{
color:indianred;
}
.LORD-DARLINGTON{
    color:lawngreen;
    font-size: 20px;
}